spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://localhost:3306/user_db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root@1234

  jpa:
    hibernate:
      ddl-auto: create  # ou "update" se quiser manter os dados
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  cloud:
    config:
      enabled: false
    discovery:
      enabled: false

server:
  port: 8081
